* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landing {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    .content {
        display: flex;
        justify-content: space-evenly;
        gap: .5em;
        flex-wrap: wrap;
        margin: 1em 2em;
        min-height: 80vh;
        padding: 1em;
        .items {
            width: 30vw;
            min-height: 50vh;
            background-color: white;
            .item_header {
                display: flex;
                width: 100%;
                height: 300px;
                padding: .1em;
                img {
                    width: 100%;
                    height: 100%;
                    background-color: gray;
                }
            }
            .item_body {
                display: flex;
                flex-direction: column;
                padding: .5em;
            }
            .item_button {
                padding: 0.5em;
                button {
                    width: 100%;
                }
            }
        }
    }
}