* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dashBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.dashBoard .column_2 {
  width: 80%;
  height: 100%;
  background-color: #f4e9e9;
}

.dashBoard .column_2 .header {
  background-color: white;
}

.dashBoard .column_2 .content {
  width: %;
  height: 80%;
  padding: 50px;
}

.dashBoard .column_2 .content .addProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.dashBoard .column_2 .content .addProduct .sec1 {
  width: 50%;
}

.dashBoard .column_2 .content .addProduct .sec2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  padding: 2em;
}

.dashBoard .column_2 .content .addProduct .sec2 .image {
  width: 75%;
  height: 75%;
}

.dashBoard .column_2 .content .addProduct .sec2 .image img {
  width: 100%;
  height: 100%;
}
